body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 2rem;
  color: #333;
}

h1 {
  color: #ee0000;
  font-size: 2.5em;
}

h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 1.0em;
  background-color: #00aa00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #008800;
}

.centered-text {
  text-align: center;
}

.indent {
  margin-left: 2em;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.image-gallery img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

/* Responsive adjustment for small screens */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }
}

/* Prevent content from hiding behind navbar. */
.content {
  margin-top: 20px;
}

.navbar {
  font-size: 1.2em;
  color : white;
  background-color: #555;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top : 0;
  left : 0;
  right : 0;
  padding: 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  flex: 1;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: #333;
}

.navbar a.active {
  background-color: #ee0000;
}
